footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: white;
  height: 185px;
  background-color: black;
}

footer .wrapper {
  width: 1280px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}
footer .wrapper a {
  margin-left: -100px;
}

footer img {
  width: 45px;
  height: 45px;
}

footer .menu {
  display: flex;
}

footer .menu div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 20px;
  border-right: #4e4e4e 1px solid;
}

footer .menu a {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  color: white;
  text-decoration: none;
  position: relative;
  margin: 0 20px;
}
footer .author {
  color: #818181;
  font-size: 14px;
}

footer .menu a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: #fff;
  top: 102%;
  left: 0%;
  transition: 0.2s;
}

footer .menu a:hover:after {
  width: 100%;
}

footer .menu a:not(:last-of-type):before {
  content: "";
  position: absolute;
  width: 1px;
  height: 8px;
  background: #4e4e4e;
  top: 30%;
  left: calc(100% + 20px);
  transition: 0.2s;
  /* margin: 0 20px; */
}
