section#screen3 {
  display: flex;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
  width: 100vw;
  padding-bottom: 50px;
  background-color: #f5f6f7;
  height: 450px;
}

section#screen3 .wrapper {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  align-content: center;
}

section#screen3 .usercard {
  grid-column: 2 / 5;
}

section#screen3 #slider {
  grid-column: 6 / 13;
}

section#screen3 .usercard {
  max-width: 300px;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  /* для pixel perfect */
  margin-top: 70px;
}

section#screen3 h2 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.4px;

  /* для pixel perfect */
  margin-bottom: -10px;
}

section#screen3 #slider .wrapper {
  margin-left: 272px;
}

section#screen3 #slider .items {
  display: flex;
  gap: 30px;
}

section#screen3 #slider .navigation {
  display: flex;
  gap: 5px;
  width: 894px;
  justify-content: center;
  margin-bottom: 20px;
}

section#screen3 #slider .navigation .wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

section#screen3 #slider .navigation .arrow {
  margin: 0 10px;
  width: 8px;
  height: 14px;
  background-repeat: no-repeat;
  transition: 0.3s;
  outline: none;
  border: none;
  background-color: transparent;
}

section#screen3 #slider .navigation .arrow.left {
  background-image: url("../img/arrow-left.svg");
}

section#screen3 #slider .navigation .arrow.right {
  background-image: url("../img/arrow-right.svg");
}

section#screen3 #slider .navigation .arrow:hover {
  opacity: 0.5;
}
