section#screen3 {

  /* для pixel perfect */
  height: 450px;
  width: 100vw;
  padding-bottom: 50px;
  background-color: #f5f6f7;
  display: flex;
  gap: 140px;
  justify-content: end;
  align-items: center;
}

section#screen3 h2 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2.4px;

  /* для pixel perfect */
  margin-bottom: 10px;
}

section#screen3 .usercard {
  width: 300px;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 35px;
}

section#screen3 .usercard img {
  border-radius: 50%;

  /* для pixel perfect */
margin-bottom: 15px;
}

section#screen3 #slider .items {
  display: flex;
  gap: 30px;
  width: 894px;
  overflow: hidden;
}

section#screen3 #slider .navigation {
  display: flex;
  gap: 5px;
  width: 894px;
  justify-content: center;
  margin-bottom: 20px;
}

section#screen3 #slider .navigation .wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

section#screen3 #slider .navigation .arrow {
  margin: 0 10px;
  width: 8px;
  height: 12px;
}

section#screen3 #slider .navigation .arrow.left {
  background-image: url("../img/arrow-left.svg");
  background-size: cover;
}

section#screen3 #slider .navigation .arrow.left:hover {
  opacity: 0.5;
}

section#screen3 #slider .navigation .arrow.right {
  background-image: url("../img/arrow-right.svg");
  background-size: cover;
}

section#screen3 #slider .navigation .arrow.right:hover {
  opacity: 0.5;
}

section#screen3 #slider .wrapper {
  /* для pixel perfect */
  margin-left: 272px;
}
