section#screen6 {
  height: 336px;
  width: 100vw;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  align-items: center;
  text-align: center;
  padding-top: 123px;
}

section#screen6 .apps {
  display: flex;
  gap: 30px;
  /* для pixel perfect */
  margin-top: 30px;
  justify-content: center;
}

section#screen6 .apps {
  display: flex;
}

section#screen6 .apps a {
  text-decoration: none;
}

section#screen6 .apps button {
  width: 186px;
  height: 45px;
  background-color: #00afdb;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  transition: 0.3s;
  outline: none;
  border: none;
  padding: 0;
}
section#screen6 .apps button .title {
  width: 127px;
}

section#screen6 .apps button .icon {
  width: 59px;
  background-color: #009cc2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  section#screen6 {
    padding: 60px 0;
    height: auto;
  }

  section#screen6 .apps {
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
  }

  section#screen6 p {
    width: 90%;
  }
}
