section#screen4 {
  display: flex;
  justify-content: center;
  width: 100vw;
}

section#screen4 .wrapper {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  align-content: center;

  /* для pixel perfect */
  height: 842px;
}

section#screen4 .content-image-2 {
  grid-column: 2 / 6;

  /* для pixel perfect */
  margin-top: -10px;
}

section#screen4 .content-image-2 img {
    width: 100%;
  }

section#screen4 .content-block {
  grid-column: 7 / 11;
  align-self: center;

  /* для pixel perfect */
  margin-top: -15px;
}

section#screen4 .content-block p {
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  section#screen4 .wrapper {
    grid-template-columns: 100vw;
    padding: 40px 0;
    gap: 30px;
    align-content: center;
    height: auto;
    justify-items: center;
  }

  section#screen4 .content-image-2 {
    width: 300px;
    grid-column: auto;
    grid-row: 1 / 2;
    margin: 0;
    align-self: center;
  }

  section#screen4 .content-block {
    grid-column: auto;
    grid-row: 2 / 3;
    margin-top: 0;
    text-align: center;
    width: 90%;
  }

  button:not(#emailSubmit, #appstore, #android, .arrow.left, .arrow.right, #submit, #buy, .close) {
    margin: 0 auto;
  }
}

