section#screen2 {
  display: flex;
  justify-content: center;
  width: 100vw;
}

section#screen2 .wrapper {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  align-content: center;
  height: 842px;
}

section#screen2 .content-image-1 {
  grid-column: 8 / 12;
  margin-top: -15px;
}

section#screen2 .content-image-1 img {
    width: 100%;
  }

section#screen2 .content-block {
  grid-column: 2 / 6;
  align-self: center;
  margin-top: -20px;
}

section#screen2 .content-block p {
    margin-bottom: 30px;
}